
.loginDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginGridColumn {
    min-width: 500px;
}

#topSegment {
}

#selectionBox {
    width: 40%;
}

#timerBox {
    width: 60%;
}
  
#dropdownContainerLeft {
    width: 70%;
}

#dropdown {
    width: 60%;
}
  
.counter {
    border: 2px gray dotted;
    margin: 0.25em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    font-size: 3em;
    color: black;
    line-height: 5em;
    text-align: center;
    background: #eaeaea;
    box-shadow: 0 0 3px #000, 0 0 5px #C7C7D5;
    text-shadow: -2px 1px 2px #a8a6a6;
}
