
.loginDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginGridColumn {
    min-width: 500px;
}

#topSegment {
}

#selectionBox {
    width: 40%;
}

#timerBox {
    width: 60%;
}
  
.counterWrapper {
}
  
.counter {
    border: 2px gray dotted;
    margin: 0.25em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    font-size: 3em;
    color: black;
    line-height: 5em;
    text-align: center;
    background: #99ccff;
}