.loginDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginGridColumn {
    min-width: 500px;
}

#topSegment {}

#selectionBox {
    width: 40%;
}

#dropdownContainerLeft {
    width: 70%;
}

#dropdown {
    width: 60%;
}

.timerButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 125px;
    box-shadow: 0 9px #999;
    width: 60%;
}

.timerButton:hover {
    background-color: #3e8e41
}

.timerButton:active {
    background-color: #1ddd23;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#timerCol {
    width: 50%;
}

#timerButtons {
    line-height: 250px;
    padding-right: 200px;
}

#timerBox {
    line-height: 250px;
    width: 35%;
}

#selectSubtaskPrompt {
    text-align: center;
}

#graphDiv {
    margin: auto;
    height: 500px;
    width: 1000px;
    border: 3px solid green;
    padding: 10px;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */

    .slider:hover {
        opacity: 1;
        /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 25px;
        /* Set a specific slider handle width */
        height: 25px;
        /* Slider handle height */
        background: #4CAF50;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px;
        /* Set a specific slider handle width */
        height: 25px;
        /* Slider handle height */
        background: #4CAF50;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }